.naya {
  text-align: center;
}
.d-flex {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 12px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 2px solid black;
  padding: 32px;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  align-items: center;
} */
/* input {
  width: 100%;
  border-radius: 10px;
  padding: 8px;
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* flex-direction: row; */
}
@media only screen and (max-width: 776px) {
  .box-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 514px) {
  .box-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 444px) {
  .box-container {
    display: none;
  }
}
/* 776 */
.box {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  margin: 24px;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
